$red: #e05443;
$bgRed: #fff1f1;
$bgBlue: #eef8ff;
$bgGray: #f3f3f3;
$bgYellow: #fefff2;
$blue: #1b2794;
$waterBlue: #3a4ad5;
$lightBlue: #83c0f4;
$skyBlue: #6bafd6;
$navy: #242a36;
$yellow: #e7ec07;
$pink: #f0219d;
$orange: #dd960f;
$blueGreen: #13b5b1;
$green: #25a769;
$black: #403d3c;
$gray: #979797;
$grayText: #6a7079;
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easeInFade: cubic-bezier(0.33, 1, 0.68, 1);